{% extends "base.html" %}
{% load static %}

{% block page_nav %}
{% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3 mt-3">
                <h4 class="title-font text-center">Edit Treasures</h4>
                <form method="POST" action="{% url 'edit_treasure' treasure.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        <a class="btn btn-sm bg-grey border-dark shadow text-white btn-grey" href="{% url 'edit_treasure' treasure.id %}" aria-label="edit treasure"><strong>Cancel</strong></a>
                        <button class="btn btn-sm bg-blue border-info shadow btn-blue" type="submit"><strong>Edit Treasure</strong></button>
                    </div>
                </form>
            </div>          
        </div>
    </div>
{% endblock %}
