{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
{% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-12 col-md-3 mb-4 text-center">
                <h5 class="title-font">{{ treasure.category.display_name }}</h5>
                {% if treasure.image %}
                    <img class="img-fluid w-100 preview" src="{{ treasure.image.url }}"
                        alt="{{ treasure.name }}">
                {% else %}
                    <img class="img-fluid w-100 preview" src="{{ MEDIA_URL }}no_image.png"
                        alt="{{ treasure.name }}">
                {% endif %}
            </div>
            <div class="col-12 col-md-5 right-border">
                <h4 class="title-font text-center text-dark pb-2">{{ treasure.name }}</h4>
                <p>{{ treasure.description }}</p>
                <form action="{% url 'add_to_basket' treasure.id %}" method="POST" class="form">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with treasure.sizable as size %}
                            {% if size %}
                            <div class="col-12">
                                <p class="d-inline pr-3"><strong>Size:</strong></p>
                                <select name="treasure_size" id="id_treasure_size" class="form-control-sm w-50 d-inline py-0 border-secondary">
                                    <option value="newborn" selected>Newborn</option>
                                    <option value="3-6_months">3-6 Months</option>
                                    <option value="6-9_months">6-9 Months</option>
                                    <option value="9-12_months">9-12 Months</option>
                                </select>
                            </div>
                            {% endif %}
                        {% endwith %}
                        <div class="col-6 d-flex mt-3 align-items-end">
                            <p class="d-inline mb-1 pr-3"><strong>Qty:</strong></p>
                            <input type="number" name="treasure_qty" value="1" min="1" max="99" class="form-control-sm qty-input border-secondary">
                        </div>
                        <div class="col-6">
                            <p class="text-right mt-4 mb-0 price"><strong>£{{ treasure.price }}</strong></p>
                        </div>
                        <div class="col-12 text-center my-3">
                            <a href="{% url 'home' %}" class="btn btn-sm bg-grey border-dark text-white shadow btn-grey" aria-label="continue shopping">
                                <strong>Continue Shopping</strong>
                            </a>
                            <button type="submit" class="btn btn-sm bg-blue border-info shadow btn-blue">
                                <strong>Add to Basket</strong>
                            </button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                {% if request.user.is_superuser %}
                    <div class="text-right">
                        <a href="{% url 'edit_treasure' treasure.id %}" class="text-muted mr-3" aria-label="edit treasure">
                            <i class="fa-solid fa-pencil icon"></i>
                        </a>
                        <!-- Button trigger modal -->
                        <a data-toggle="modal" data-target="#delete_treasure" aria-label="delete treasure">
                            <i class="fa-solid fa-trash-can bin"></i>
                        </a>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="delete_treasure" tabindex="-1" role="dialog" aria-labelledby="delete_treasure_label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger">
                                        <h5 class="modal-title text-white" id="delete_treasure_label">Delete Treasure</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>Are you sure you want to delete {{ treasure.name }}?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-grey bg-grey shadow border-dark text-white ml-auto" data-dismiss="modal"><strong>No</strong></button>
                                        <a href="{% url 'delete_treasure' treasure.id %}" class="btn btn-blue bg-blue border-info shadow mr-auto" aria-label="delete treasure"><strong>Yes</strong></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-4">
                <hr class="d-md-none mb-5">
                <h5 class="title-font text-center mb-4">You May Also Like</h5>
                <a href="{% url 'full_details' related.id %}" aria-label="link to full details page"> 
                    <div class="mb-4 text-center">
                        {% if related.image %}
                            <img class="img-fluid w-50 h-50 preview" src="{{ related.image.url }}"
                                alt="{{ related.name }}">
                        {% else %}
                            <img class="img-fluid w-50 h-50 preview" src="{{ MEDIA_URL }}no_image.png"
                                alt="{{ related.name }}">
                        {% endif %}
                        <div class="card-body">
                            <p><em class="text-dark">{{ related.name }}</em></p>
                            <p class="mb-0"><strong class="text-dark">£{{ related.price }}</strong></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>       
{% endblock %}