{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
{% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-12 col-sm-3 mb-4 text-center">
                <h5 class="title-font">{{ treasure.category.display_name }}</h5>
                <div id="treasure-images" class="carousel slide" data-bs-ride="false" data-interval="false">
                    <div class="carousel-inner">
                    {% for img in treasure.images.all %}
                        {% if img %}
                            {% if forloop.first %}
                                <div class="carousel-item active">
                                    <a href="{{ img.image.url }}" target="_blank">
                                        <img src="{{ img.image.url }}" class="d-block w-100" alt="{{ treasure.name }}">
                                    </a>
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <a href="{{ img.image.url }}" target="_blank">
                                        <img src="{{ img.image.url }}" class="d-block w-100" alt="{{ treasure.name }}">
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <img class="d-block w-100" src="{{ MEDIA_URL }}no_image.png" alt="{{ treasure.name }}">
                        {% endif %}
                    {% endfor %}     
                    </div>
                    <a class="carousel-control-prev" href="#treasure-images" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#treasure-images" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>   
            </div>
            <div class="col-12 col-sm-5 right-border">
                <h4 class="title-font text-center text-dark pb-2">{{ treasure.name }}</h4>
                <p>{{ treasure.description }}</p>
                <form action="{% url 'add_to_basket' treasure.id %}" method="POST" class="form">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with treasure.sizable as size %}
                            {% if size %}
                            <div class="col-12">
                                <p class="d-inline pr-3"><strong>Size:</strong></p>
                                <select name="treasure_size" id="id_treasure_size" class="form-control-sm w-25 d-inline py-0 border-secondary">
                                    <option value="newborn" selected>Newborn</option>
                                    <option value="3-6_months">3-6 Months</option>
                                    <option value="6-9_months">6-9 Months</option>
                                    <option value="9-12_months">9-12 Months</option>
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-6 d-flex mt-3 align-items-end">
                                <p class="d-inline mb-1 pr-3"><strong>Qty:</strong></p>
                                <input type="number" name="treasure_qty" value="1" min="1" max="99" class="form-control-sm qty-input border-secondary">
                            </div>
                            <div class="col-6">
                                <p class="text-right mt-4 mb-0 price"><strong>£{{ treasure.price }}</strong></p>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <a href="{% url 'home' %}" class="btn bg-grey text-white">
                                    Continue Shopping
                                </a>
                                <input type="submit" class="btn bg-blue" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-4">
                <h5 class="title-font text-center mb-4">You May Also Like</h5>
                <a href="{% url 'full_details' related.id %}"> 
                    <div class="mb-4 text-center">
                        {% for img in related.images.all %}
                            {% if img %}
                                {% if forloop.first %}
                                    <img class="img-fluid img-top w-50 h-50 preview" src="{{ img.image.url }}" alt="{{ related.name }}">
                                {% endif %}
                            {% else %}
                            <img class="img-fluid img-top preview" src="{{ MEDIA_URL }}no_image.png" alt="{{ related.name }}">
                            {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <p><em class="text-dark">{{ related.name }}</em></p>
                            <p class="mb-0"><strong class="text-dark">£{{ related.price }}</strong></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>       
{% endblock %}