{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
{% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4 offset-sm-4 text-center">
                <div class="card border-0">
                    <div class="card-body">
                        {% for cat in selected_categories %}
                            <h2 class="title-font">{{ cat.display_name }}</h2>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 text-left">
                <p>Showing {{ treasures|length }} treasures {% if search_query %}for <strong>{{ search_query }}</strong>{% endif %}</p>
            </div>
        </div>
        <div class="row">
            {% for treasure in treasures %}
            <div class="col-12 col-sm-3">
                <a href="{% url 'full_details' treasure.id %}"> 
                    <div class="card shadow mb-4">
                        {% for img in treasure.images.all %}
                            {% if img %}
                                {% if forloop.first %}
                                    <img class="img-fluid img-top w-100 preview" src="{{ img.image.url }}" alt="{{ treasure.name }}">
                                {% endif %}
                            {% else %}
                            <img class="img-fluid img-top preview" src="{{ MEDIA_URL }}no_image.png" alt="{{ treasure.name }}">
                            {% endif %}
                        {% endfor %}
                        <div class="card-body">
                            <p><em class="text-dark">{{ treasure.name }}</em></p>
                            <p class="mb-0"><strong class="text-dark">£{{ treasure.price }}</strong></p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}