{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
{% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4 offset-sm-4 text-center">
                <div class="container mt-3">
                    {% for cat in selected_categories %}
                        <h2 class="title-font">{{ cat.display_name }}</h2>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 text-left">
                <p>Showing {{ treasures|length }} treasures {% if search_query %}for <strong>{{ search_query }}</strong>{% endif %}</p>
            </div>
        </div>
        <div class="row">
            {% for treasure in treasures %}
            <div class="col-12 col-sm-3">
                <a href="{% url 'full_details' treasure.id %}"> 
                    <div class="card shadow mb-4">
                        {% if treasure.image %}
                            <img class="img-fluid rounded-top" src="{{ treasure.image.url }}"
                                alt="{{ treasure.name }}">
                        {% else %}
                            <img class="img-fluid rounded-top" src="{{ MEDIA_URL }}no_image.png"
                                alt="{{ treasure.name }}">
                        {% endif %}
                        <div class="card-body">
                            <p><em class="text-dark">{{ treasure.name }}</em></p>
                            <p class="mb-0"><strong class="text-dark">£{{ treasure.price }}</strong></p>
                            {% if request.user.is_superuser %}
                                <div class="text-right">
                                    <a href="{% url 'edit_treasure' treasure.id %}" class="text-muted mr-3">
                                        <i class="fa-solid fa-pencil icon"></i>
                                    </a>
                                    <a href="{% url 'delete_treasure' treasure.id %}" class="text-dark">
                                        <i class="fa-solid fa-trash-can bin"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}