{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
    {% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col mx-auto mt-5 text-center">
        <h4 class="title-font">Sign Up For Our Newsletter</h4>
        <form action="{% url 'news_letter' %}" method="POST" class="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="input-group">
                <button class="btn-sm border-info rounded-right bg-blue mx-auto" type="submit">
                    Sign up
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}