{% extends 'base.html' %}
{% load static %}
{% load checkout_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_nav %}
{% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h3 class="title-font">Checkout</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 right-border">
            <p class="text-muted">Summary: {{ treasure_count }} item(s)</p>
            {% for item in basket_items %}
                <div class="row">
                    <div class="col-3">
                    {% if item.treasure.image %}
                        <img class="img-fluid w-100 preview" src="{{ item.treasure.image.url }}"
                            alt="{{ item.treasure.name }}">
                    {% else %}
                        <img class="img-fluid w-100 preview" src="{{ MEDIA_URL }}no_image.png"
                            alt="{{ item.treasure.name }}">
                    {% endif %}
                    </div>
                    <div class="col-5">
                        <p class="small mb-1"><strong>{{ item.treasure.name }}</strong></p>
                        <p class="small mb-1"><strong>Size: </strong>{% if item.treasure.sizable %}{{ item.size }}{% else %}N/A{% endif %}</p>
                        <p class="small mb-1"><strong>Qty: </strong>{{ item.quantity}}</p>
                    </div>
                    <div class="col-4 text-right">
                        <p class="small"><strong>Subtotal</strong></p>
                        <p>£{{ item.treasure.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <div class="row">
                <div class="col-6">
                    <p class="mb-1"><strong>Total:</strong></p>
                    <p class="mb-1"><strong>Delivery:</strong></p>
                    <p class="mb-1"><strong>Grand Total:</strong></p>
                </div>
                <div class="col-6">
                    <p class="text-right mb-1">£{{ total | floatformat:2 }}</p>
                    <p class="text-right mb-1">£{{ delivery | floatformat:2 }}</p>
                    <p class="text-right mb-1">£{{ grand_total | floatformat:2 }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 right-border">
            <form action="{% url 'checkout' %}" method="POST" id="purchase-form">
                {% csrf_token %}
                <fieldset>
                    <legend class="fieldset-lable title-font">
                        Your Details
                    </legend>
                    {{ purchase_form.full_name | as_crispy_field }}
                    {{ purchase_form.email | as_crispy_field }}
                    {{ purchase_form.phone | as_crispy_field }}
                    {{ purchase_form.address_line1 | as_crispy_field }}
                    {{ purchase_form.address_line2 | as_crispy_field }}
                    {{ purchase_form.city | as_crispy_field }}
                    {{ purchase_form.county | as_crispy_field }}
                    {{ purchase_form.postcode | as_crispy_field }}
                    {{ purchase_form.country | as_crispy_field }}
                </fieldset>
            
        </div>
        <div class="col-12 col-sm-4">
            <fieldset>
                <legend class="fieldset-lable title-font">
                    Deliver to:
                </legend>
                {{ purchase_form.shp_full_name | as_crispy_field }}
                {{ purchase_form.shp_address_line1 | as_crispy_field }}
                {{ purchase_form.shp_address_line2 | as_crispy_field }}
                {{ purchase_form.shp_city | as_crispy_field }}
                {{ purchase_form.shp_county | as_crispy_field }}
                {{ purchase_form.shp_postcode | as_crispy_field }}
                {{ purchase_form.shp_country | as_crispy_field }}
                <div class="form-check form-check-inline">
                    {% if user.is_authenticated %}
                        <label class="form-check-label" for="save-info">Speed up future purchases by saving this information to my account.</label>
                        <input class="form-check-input" type="checkbox" id="save-user-info" name="save-info" checked>
                    {% else %}
                        <label class="form-check-label" for="save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Register </a>for an account or 
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information and speed up future purchases.
                        </label>
                    {% endif %}
                </div>
            </fieldset>
            <fieldset class="mt-3">
                <legend class="fieldset-label title-font mt-2 w-auto">Payment Details</legend>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>
                <!-- Used to display form errors -->
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>
            <span>Powered by <i class="fa-brands fa-cc-stripe fa-lg"></i></span>
            <div class="container-fluid text-center">                    
                <p class="text-right"><strong>Pay £{{ grand_total|floatformat:2 }}</strong></p>
                <a href="{% url 'home' %}" class="btn bg-grey text-white mr-2">
                    <strong>Continue Shopping</strong>
                </a>
                <button class="btn bg-blue" id="submit-purchase">
                    Confirm Purchase
                </button>
            </div>
        </div>
            </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
