{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_nav %}
{% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h3 class="title-font">Purchase Complete</h3>
            <br>
            <P class="mb-0">Thank you for shopping with <strong>Tripp's Treasures</strong>. Your purchase informaton is below and a confirmation email will be sent to <strong>{{ purchase.email }}</strong>.</P>
            <p class="mb-0">Crafting handmade treasures can take a little time. When your order has been created, we'll send you an email to let you know your order has been depatched.</p>
            <br>
            <p class="mb-0">If you would like to customise your treasure(s), please <a href="{% url 'contact_us' %}">contact us </a>and provide your purchase number for reference.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
            <hr class="d-block d-md-none">
            <div class="row">
                <div class="col-12 col-md-3 right-border">
                    <p class="title-font"><u><strong>Purchase Info:</strong></u></p>
                    <p class="text-break mb-0"><strong>Purchase Number: </strong>{{ purchase.purchase_number }}</p>
                    <p><strong>Purchase Date: </strong>{{ purchase.purchase_date }}</p>
                    <hr class="d-block d-md-none">
                </div>
                <div class="col-12 col-md-3 right-border">
                    <p class="title-font"><u><strong>Purchased Items:</strong></u></p>
                    {% for item in purchase.purchaseitems.all %}
                        <p class="mb-1"><strong>Item Name: </strong>{{ item.treasure.name }}</p>
                        {% if item.item_size %}
                        <p class="mb-1"><strong>Item Size: </strong>{{ item.item_size }}</p>
                        {% endif %}
                        <p class="mb-1"><strong>Qty: </strong>{{ item.qty }}</p>
                        <p class="mb-1"><strong>Price: </strong>£{{ item.item_total }}</p>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                    <hr class="d-block d-md-none">
                </div>
                <div class="col-12 col-md-3 right-border">
                    <p class="title-font"><u><strong>Delivering to:</strong></u></p>
                    <p class="mb-0">{{ purchase.full_name }}</p>
                    <p class="mb-0">{{ purchase.address_line1 }}</p>
                    {% if purchase.address_line2 %}
                        <p class="mb-0">{{ purchase.address_line2 }}</p>
                    {% endif %}
                    <p class="mb-0">{{ purchase.city }}</p>
                    {% if purchase.county %}
                        <p class="mb-0">{{ purchase.county }}</p>
                    {% endif %}
                    <p class="mb-0">{{ purchase.postcode }}</p>
                    <p class="mb-0">{{ purchase.country }}</p>
                    <hr class="d-block d-md-none">
                </div>
                <div class="col-12 col-md-3">
                    <p class="title-font"><u><strong>Purchase Cost:</strong></u></p>
                    <p class="mb-2"><strong>Subtotal: </strong><span class="float-right">£{{ purchase.subtotal }}</span></p>
                    <p class="mb-2"><strong>Delivery Cost: </strong><span class="float-right">£{{ purchase.delivery_cost }}</span></p>
                    <p><strong>Grand Total: </strong><span class="float-right"><strong>£{{ purchase.grand_total }}</strong></span></p>
                    <hr class="d-block d-md-none">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-3">                    
            <a href="{% url 'account' %}" class="btn btn-sm shadow bg-grey border-dark text-white btn-grey">
                <strong>Back</strong>
            </a>
        </div>
    </div>
</div>
{% endblock %}
