{% extends 'base.html' %}
{% load static %}
{% load checkout_tools %}

{% block page_nav %}
{% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Confirm delete message -->
    <div class="row">
        <div class="col-12">
            <div class="delete-treasure bg-danger text-center p-2">
                <h3 class="text-white">Are you sure you want to delete this Treasure?</h3>
                <button class="btn btn-sm bg-danger border-white text-white" id="cancel"><strong>No</strong></button>
                <button class="btn btn-sm bg-danger border-white text-white" id="delete"><strong>Yes</strong></button>
            </div>
        </div>
    </div>
    <!-- Page title -->
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h3 class="title-font">Shopping Basket</h3>
        </div>
    </div>
    <!-- Items in basket -->
    <div class="row">
        <div class="col-12 col-md-8 right-border">
            <p><strong>{{ treasure_count }}</strong> item(s)</p>
            {% if basket_items %}
                {% for item in basket_items %}
                    <div class="row my-2">
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-3">
                                    <a href="{% url 'full_details' item.treasure.id %}" aria-label="treasure full details">
                                        {% if item.treasure.image %}
                                            <img class="img-fluid w-100" src="{{ item.treasure.image.url }}"
                                                alt="{{ item.treasure.name }}">
                                        {% else %}
                                            <img class="img-fluid w-100" src="{{ MEDIA_URL }}no_image.png"
                                                alt="{{ item.treasure.name }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-9">
                                    <p class="title-font"><strong>{{ item.treasure.name }}</strong></p>
                                    <form action="{% url 'update_basket' item.treasure_id %}" method="POST" class="form update-form">
                                        {% csrf_token %} 
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row">
                                <div class="col-8">
                                    <p><strong>Size: </strong>{% if item.treasure.sizable %}{{ item.size }}{% else %}N/A{% endif %}</p>
                                    <!-- Change quantity -->
                                    <div class="container d-flex p-0 form-group mb-0 mt-4">
                                        <p class="d-inline pr-2 mb-0"><strong>Qty:</strong></p>
                                        <input type="number" name="treasure_qty" value="{{ item.quantity }}" min="1"
                                            max="99" class="form-control-sm qty-input border-secondary mr-5"
                                            id="id_qty_{{ item.treasure_id }}">
                                    </div>
                                    {% if item.treasure.sizable %}
                                        <input type="hidden" name="treasure_size" value="{{ item.size }}">
                                    {% endif %}
                                </div>
                                <!-- Remove an item from the basket -->
                                <div class="col-4 text-right align-self-end">
                                    <a class="remove-item text-dark pb-3" id="remove_{{item.treasure_id}}" data-treasure_size="{{ item.size }}" aria-label="delete item">
                                        <i class="fa-solid fa-trash-can fa-xl bin"></i>
                                    </a>                                    
                                    <p class="mt-4 mb-0"><strong>£{{ item.treasure.price | calc_subtotal:item.quantity }}</strong></p>
                                </div>
                                    </form>
                            </div>
                        </div>  
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            <!-- If no basket items -->
            {% else %}
                <p class="mt-5">There's nothing in your basket.</p>
                <a href="{% url 'home' %}" class="btn btn-sm bg-grey border-dark text-white shadow btn-grey mt-4" aria-label="go to home page">
                    Continue Shopping
                </a>
            {% endif %}
            </div>
        <!-- Basket cost info -->
        <div class="col-12 col-md-4 mt-md-5">
            <hr class="d-md-none">
            <p>If you would like to customise your treasure(s), please <a href="{% url 'contact_us' %}">contact us</a> when you've made your purchase and provide your purchase number for reference.</p>
            <p><strong>Basket Total: </strong>£{{ total|floatformat:2 }}</p>
            <p><strong>Delivery: </strong>£{{ delivery|floatformat:2 }}</p>
            <p><strong>Grand Total: </strong>£{{ grand_total|floatformat:2 }}</p>
            <div class="text-center">
                <a href="{% url 'home' %}" class="btn btn-sm bg-grey border-dark shadow text-white btn-grey mb-2" aria-label="go to home page">
                    <strong>Continue Shopping</strong>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-sm bg-blue border-info shadow btn-blue mb-2" aria-label="go to home page">
                    <strong>Go to Checkout</strong>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

    // Confim delete, remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('treasure_size');
        var url = `/basket/delete/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'treasure_size': size,
        };

        message();
        window.scrollTo(0, 0);

        $("#cancel").click(function(){
            hide();
        });
        $("#delete").click(function(){
            $.post(url, data)
                .done(function () {
                    location.reload();
            });
        });
        
        function message()
        {
        $(".delete-treasure").slideDown();
        }

        function hide()
        {
        $(".delete-treasure").slideUp();
        }
    });

    // Update qty onchange
    $('.qty-input').change(function (e) {
        $('.update-form').submit();
    })
</script>
{% endblock %}