{% with treasure.customisable as custom %}
    {% if custom %}
        <div class="col-12 p-0">
            <p class="mb-1"><strong>Customisation:</strong></p>
            <textarea name="treasure_custom" id="id_treasure_custom" class="form-control border-secondary" rows="3" placeholder="Please enter any customisations here (e.g., fabric name, letters and characters, any special requirements)."></textarea> 
        </div>
    {% endif %}
{% endwith %}                
{% with treasure.personalisable as personalise %}
    {% if personalise %}
        <div class="col-12 d-flex p-0">
            <p class="d-inline pr-3"><strong>Personalise:</strong></p>
            <input type="text"name="treasure_personalise" id="id_treasure_personalise" class="form-control d-inline border-secondary" placeholder="Please enter a name here.">
        </div>
    {% endif %}
{% endwith %}
