{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
    {% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-3 text-center">
                <a href="{% url 'treasures' %}?category=baby_gifts">
                    <div class="card shadow">
                        <div class="card-body p-3">
                            <img class="img-fluid preview" src="media/20210209_142327.jpg" alt="Superhero boy soft toy">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a href="{% url 'treasures' %}?category=gifts_for_her">
                    <div class="card shadow">
                        <div class="card-body p-3">
                            <img class="img-fluid preview" src="media/IMG-20191007-WA0000.jpg" alt="Fingerprint tree canvas">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a href="{% url 'treasures' %}?category=gifts_for_him">
                    <div class="card shadow">
                        <div class="card-body p-3">
                            <img class="img-fluid preview" src="media/20220521_111241.jpg" alt="Travel mugs">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 text-center">
                <a href="{% url 'treasures' %}?category=gifts_for_pets">
                    <div class="card shadow">
                        <div class="card-body p-3">
                            <img class="img-fluid preview" src="media/20200306_174309.jpg" alt="Dog treat jar">
                        </div>
                    </div>
                </a>
            </div>
        </div>      
    </div>    
{% endblock %}