{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid my-auto">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 text-center mb-3">
                <a href="{% url 'treasures' %}?category=baby_gifts" aria-label="baby gifts">
                    <div class="card">
                        <div class="card-body p-0 shadow">
                            <h5 class="card-title title-font bg-yellow p-1 text-dark mb-0">Baby Gifts</h5>
                            <img class="img-fluid rounded-bottom" src="{% static 'images/superboy.jpg' %}" alt="Superhero boy soft toy">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-3">
                <a href="{% url 'treasures' %}?category=gifts_for_her" aria-label="gifts for her">
                    <div class="card">
                        <div class="card-body p-0 shadow">
                            <h5 class="card-title title-font bg-purple p-1 text-dark mb-0">Gifts for Her</h5>
                            <img class="img-fluid rounded-bottom" src="{% static 'images/canvas.jpg' %}" alt="Fingerprint tree canvas">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-3">
                <a href="{% url 'treasures' %}?category=gifts_for_him" aria-label="gifts for him">
                    <div class="card">
                        <div class="card-body p-0 shadow">
                            <h5 class="card-title title-font bg-green p-1 text-dark mb-0">Gifts for Him</h5>
                            <img class="img-fluid rounded-bottom" src="{% static 'images/mugs.jpg' %}" alt="Travel mugs">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-3">
                <a href="{% url 'treasures' %}?category=gifts_for_pets" aria-label="gifts for pets">
                    <div class="card">
                        <div class="card-body p-0 shadow">
                            <h5 class="card-title title-font bg-pink p-1 text-dark mb-0">Gifts for Pets</h5>
                            <img class="img-fluid rounded-bottom" src="{% static 'images/jar_lid.jpg' %}" alt="Dog treat jar">
                        </div>
                    </div>
                </a>
            </div>
        </div>      
    </div>    
{% endblock %}