{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid my-auto">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 text-center mb-3">
                <a href="{% url 'treasures' %}?category=baby_gifts">
                    <div class="card">
                        <div class="card-body p-0 shadow">
                            <h5 class="card-title title-font bg-yellow p-1 text-dark mb-0">Baby Gifts</h5>
                            <img class="img-fluid rounded-bottom" src="{% static 'images/20210209_142327.jpg' %}" alt="Superhero boy soft toy">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-3">
                <a href="{% url 'treasures' %}?category=gifts_for_her">
                    <div class="card">
                        <div class="card-body p-0 shadow">
                            <h5 class="card-title title-font bg-purple p-1 text-dark mb-0">Gifts for Her</h5>
                            <img class="img-fluid rounded-bottom" src="{% static 'images/IMG-20191007-WA0000.jpg' %}" alt="Fingerprint tree canvas">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-3">
                <a href="{% url 'treasures' %}?category=gifts_for_him">
                    <div class="card">
                        <div class="card-body p-0 shadow">
                            <h5 class="card-title title-font bg-green p-1 text-dark mb-0">Gifts for Him</h5>
                            <img class="img-fluid rounded-bottom" src="{% static 'images/20220521_111241.jpg' %}" alt="Travel mugs">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mb-3">
                <a href="{% url 'treasures' %}?category=gifts_for_pets">
                    <div class="card">
                        <div class="card-body p-0 shadow">
                            <h5 class="card-title title-font bg-pink p-1 text-dark mb-0">Gifts for Pets</h5>
                            <img class="img-fluid rounded-bottom" src="{% static 'images/20200306_174309.jpg' %}" alt="Dog treat jar">
                        </div>
                    </div>
                </a>
            </div>
        </div>      
    </div>    
{% endblock %}