body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 130px;
    flex: 1;
}


/* Background colours */

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #aaa;
}

.bg-black {
    background-color: #000;
}

.bg-green {
    background-color: #d3f8e2;
}

.bg-purple {
    background-color: #e4c1f9;
}

.bg-pink {
    background-color: #f694c1;
}

.bg-yellow {
    background-color: #ede7b1;
}

.bg-blue {
    background-color: #a9def9;
}

/* Banner */

#scroll {
    animation: slide 15s linear infinite;
    -webkit-animation: slide 15s linear infinite;
    -moz-animation: slide 15s linear infinite;
}
@keyframes slide {
    0% {
        transform: translate(75vw);
    }
    100% {
        transform: translate(-75vw);
    }
}

/* Page header */

.title-font {
    font-family: 'Special Elite', cursive;
}

a:link {
    text-decoration: none;
}

.mobile-container {
    width: 100vw;
}

.pill-count {
    font-size: 0.6rem;
}

/* Buttons & Menus */

.hover:hover {
    background-color: #a9def9;
}

.btn-blue:hover {
    box-shadow: none !important;
    background-color: #d3f8e2;
}

.btn-grey:hover {
    box-shadow: none !important;
    background-color: #d3f8e2;
    color: #000 !important;
}

.icon:hover {
    color: #000 !important;
}

.home:hover,
.ext-link:hover {
    color: #aaa !important;
}

/* Footer */

.site-link {
    font-size: 0.75rem;
}

.external-link {
    font-size: 1.5rem;
}

/* Full Details */

.right-border {
    border-right: 1px solid #aaa;
}

.price {
    font-size: 1.3rem;
}

/* Basket */

.update-link,
.remove-item,
.delete-message {
    cursor: pointer;
}

/* Messages */

#message-table {
    min-width: 1245px;
}

/* Purchase History */

#purchase-history {
    min-width: 650px;
}

/* Toasts */

.toast {
    position: fixed;
    top: 120px;
    right: 25px;
    z-index: 99999999999;
}

/* Media queries */

/* Queries for large screens >992px wide */
@media (min-width: 992px) {
    .lg-logo {
        height: 70px;
        width: 70px;
    }
}

/* Queries for medium screens >576px wide */
@media (min-width: 576px) {
    .logo {
        height: 65px;
        width: 65px;
    }
}

/* Queries for small screens <768px wide */
@media (max-width: 576px) {
    .logo {
        height: 45px;
        width: 45px;
    }
}
