<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-md-3 text-center">
            <a href="{% url 'treasures' %}?category=baby_gifts">
                <div class="card shadow mb-2">
                    <div class="card-body">
                        <h2 class="card-title">
                            Baby Gifts
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 text-center">
            <a href="{% url 'treasures' %}?category=gifts_for_her">
                <div class="card shadow mb-2">
                    <div class="card-body">
                        <h2 class="card-title">
                            Gifts for Her
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 text-center">
            <a href="{% url 'treasures' %}?category=gifts_for_him">
                <div class="card shadow mb-2">
                    <div class="card-body">
                        <h2 class="card-title">
                            Gifts for Him
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-3 text-center">
            <a href="{% url 'treasures' %}?category=gifts_for_pets">
                <div class="card shadow mb-2">
                    <div class="card-body">
                        <h2 class="card-title">
                            Gifts for Pets
                        </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>