<div class="col-12 d-block d-sm-none justify-content-center">
    <ul class="list-group list-group-horizontal list-unstyled text-center">
        <li class="list-group-item border-0">
            <a href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fa-solid fa-search"></i></div>
                    <p class="mb-0">Search</p>
                </div>
            </a>
            <div class="dropdown-menu w-100 border-0" aria-labelledby="mobile-search">
                <form method="GET" action="{% url 'treasures' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search here">
                        <div class="input-group-append">
                            <button class="btn border" type="submit">
                                <span>
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="list-group-item border-0">
            <a href="{% url 'basket_view' %}">
                <div class="text-center">
                    <div><i class="fa-solid fa-basket-shopping"><span class="badge badge-danger badge-pill">{{ treasure_count }}</span></i></div>
                    <p class="mb-0">Basket</p>
                </div>
            </a>
        </li>
        <li class="list-group-item border-0">
            <a href="#" id="mobile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fa-solid fa-bars"></i></div>
                    <p class="mb-0">Menu</p>
                </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="mobile-menu">
                <a href="{% url 'treasures' %}?category=baby_gifts" class="dropdown-item bg-yellow">Baby Gifts</a>
                <a href="{% url 'treasures' %}?category=gifts_for_her" class="dropdown-item bg-purple">Gifts for Her</a>
                <a href="{% url 'treasures' %}?category=gifts_for_him" class="dropdown-item bg-green">Gifts for Him</a>
                <a href="{% url 'treasures' %}?category=gifts_for_pets" class="dropdown-item bg-pink">Gifts for Pets</a>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_treasure' %}" class="dropdown-item">Manage Site</a>
                    {% else %}
                        <a href="{% url 'account' %}" class="dropdown-item">My Account</a>
                    {% endif %}
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    <a href="{% url 'account_signup' %" class="dropdown-item">Register</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>