{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h3 class="title-font text-center">{% trans "Sign Out" %}</h3>

<p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="text-center">
    <a class="btn bg-grey border-dark shadow text-white" href="{% url 'home' %}"><strong>Home</strong></a>
    <button class="btn bg-blue border-info shadow" type="submit"><strong>{% trans 'Sign Out' %}</strong></button>
  </div>
</form>


{% endblock %}
