{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO -->
    <meta name="description" content="Handmade personalised gifts retailer, Unique gifts for special occasions">
    <meta name="keywords" contents="Unique gifts, Gifts for her, Gifts for him, Gifts for pets, Baby clothes,
    Homewares, Gifts, Baby taggies, Baby rompers">

    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/46a3eeb20c.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Tripp's Treasures</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid fixed-top bg-white">
        <div id="info-banner" class="row">
            <div class="col bg-info text-white" id="scroll-container">
                <h4 class="m-0 py-1 text-nowrap" id="scroll">
                    {% for banner in banners %}
                        {{ banner.info }}
                    {% endfor %}
                </h4>
            </div>
        </div>
        <div class="row d-flex shadow">
            <div class="col-12 col-lg-6 d-none d-lg-block">
                <a class="no-dec" href="{% url 'home' %}">
                    <div class="row p-0">
                        <div class="col-2">
                            <img class="img-fluid lg-logo d-none d-lg-block logo" src="{% static 'images/logo.jpg' %}" alt="Site logo">
                        </div>
                        <div class="col-10">   
                            <div>
                                <h2 class="title-font text-dark home">Tripp's Treasures</h2>
                            </div>
                            <div>
                                <h5 class="title-font text-dark text-center mb-0 home">Handmade Personalised Gifts</h5>
                            </div>
                        </div>    
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 my-auto d-none d-md-flex">
                <a class="no-dec" href="{% url 'home' %}">
                    <img class="img-fluid logo d-none d-md-inline d-lg-none" src="{% static 'images/logo.jpg' %}" alt="Site logo">
                </a>
                <form method="GET" action="{% url 'treasures' %}" class="my-auto mx-auto">
                    <div class="input-group">
                        <input type="text" class="form-control-sm border-secondary py-3" name="search" placeholder="Search here">
                        <div class="input-group-append">
                            <button class="btn-sm border-info bg-blue btn-blue" type="submit">
                                <span>
                                    <i class="fas fa-search p-0"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="list-group list-group-horizontal list-unstyled text-center">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li class="list-group-item dropdown border-0 p-2">
                            <a href="#" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center text-secondary icon">
                                    <div><i class="fa-solid fa-screwdriver-wrench fa-lg"></i></div>
                                    <p class="mb-0">Manage Site</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-secondary" aria-labelledby="user-menu">
                                <a href="{% url 'add_treasure' %}" class="dropdown-item hover">Add Treasures</a>
                                <a href="{% url 'update_banner' %}" class="dropdown-item hover">Banner Update</a>
                                <a href="{% url 'view_messages' %}" class="dropdown-item hover">Messages</a>
                                <a href="{% url 'purchase_list' %}" class="dropdown-item hover">Purchase List</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="list-group-item dropdown border-0 p-2">
                            <a href="#" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center text-secondary icon">
                                    <div><i class="fa-solid fa-circle-user fa-lg"></i></div>
                                    <p class="mb-0">Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-secondary" aria-labelledby="user-menu">
                                <a href="{% url 'account' %}" class="dropdown-item hover">My Account</a>
                            </div>
                        </li>
                        {% endif %}
                    {% endif %}
                    <li class="list-group-item border-0 p-2">
                        <a href="{% url 'basket_view' %}">
                            <div class="text-center text-secondary icon">
                                <div><i class="fa-solid fa-basket-shopping fa-lg"><span
                                            class="badge badge-danger badge-pill p-1 pill-count">{{ treasure_count }}</span></i></div>
                                <p class="mb-0">Basket</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item dropdown border-0 p-2">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'account_logout' %}">
                            <div class="text-center text-secondary icon">
                                <div><i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i></div>
                                <p class="mb-0">Logout</p>
                            </div>
                        </a>
                        {% else %}
                        <a href="#" id="auth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center text-secondary icon">
                                <div><i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i></div>
                                <p class="mb-0">Login/Register</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-secondary" aria-labelledby="auth">
                            <a href="{% url 'account_login' %}" class="dropdown-item hover">Login</a>
                            <a href="{% url 'account_signup' %}" class="dropdown-item hover">Register</a>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <nav>
                {% block mobile %}
                    {% include 'extra_html/mobile_nav.html' %}
                {% endblock mobile %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'extra_html/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'extra_html/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'extra_html/toasts/toast_success.html' %}
        {% else %}
        {% include 'extra_html/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <main>
    {% block page_nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="container-fluid">
        <hr class="my-2">
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-left order-2 order-md-1">
                <ul class="list-unstyled">
                    <li class="mb-2">
                        Sign up for our newsletter <a href="{% url 'news_letter' %}">here!</a>
                    </li>
                    <li>
                        <a class="btn btn-sm bg-blue border-info shadow btn-blue" href="{% url 'contact_us' %}"><strong>Contact Us</strong></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center external-link order-1 order-md-2">
                <a href="https://www.etsy.com/uk/shop/TrippsTreasuresUK?ref=seller-platform-mcnav" target="_blank" rel="noopener" aria-label="External link to Tripp's Treasures Etsy site">
                    <i class="fa-brands fa-etsy text-dark px-2 ext-link"></i></a>
                <a href="https://www.facebook.com/TrippsTreasure"target="_blank" rel="noopener" aria-label="External link to Tripp's Treasures facebook page.">
                    <i class="fa-brands fa-facebook-f text-dark px-2 ext-link"></i></a>
            </div>
            <div class="col-12 col-md-4 text-center text-md-right order-3">
                <p class="copywrite">
                    <span>&copy;</span> {% now 'Y' %} Tripp's Treasures
                </p>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>