{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/46a3eeb20c.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Tripp's Treasures</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid fixed-top bg-white">
        <div id="info-banner" class="row text-center">
            <div class="col bg-info text-white">
                <h4 class="m-0 py-1">This is an info banner</h4>
            </div>
        </div>
        <div class="row pt-2 d-flex shadow-sm">
            <div class="col-12 col-md-6 pr-1">
                <a class="no-dec" href="{% url 'home' %}">
                    <div class="row px-1">
                        <div class="col-3 text-right">
                            <img src="{% static 'images/logo.jpg' %}" alt="Site logo">
                        </div>
                        <div class="col-9">
                            <div>
                                <h1 class="title-font text-dark">Tripp's Treasures</h1>
                            </div>
                            <div class="text-right d-none d-sm-block">
                                <h2 class="title-font text-dark">Handmade Personalised Gifts</h2>
                            </div>
                        </div>
                    </div>
                </a>
                <hr class="d-md-none m-0">
            </div>
            <div class="col-md-3 my-auto mx-auto d-none d-sm-block">
                <form method="GET" action="{% url 'treasures' %}">
                    <div class="input-group">
                        <input type="text" class="form-control border-secondary" name="search" placeholder="Search here">
                        <div class="input-group-append">
                            <button class="btn border-secondary bg-blue" type="submit">
                                <span>
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 my-auto d-none d-sm-block">
                <ul class="list-group list-group-horizontal list-unstyled text-center">
                    {% if request.user.is_authenticated %}
                    <li class="list-group-item dropdown border-0">
                        <a href="#" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center text-secondary">
                                <div><i class="fa-solid fa-circle-user fa-lg"></i></div>
                                <p class="mb-0">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="user-menu">
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_treasure' %}" class="dropdown-item">Manage Site</a>
                            <a href="#" class="dropdown-item">Orders List</a>
                            {% else %}
                            <a href="{% url 'account' %}" class="dropdown-item">My Account</a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-group-item border-0">
                        <a href="{% url 'basket_view' %}">
                            <div class="text-center text-secondary">
                                <div><i class="fa-solid fa-basket-shopping fa-lg"><span
                                            class="badge badge-danger badge-pill">{{ treasure_count }}</span></i></div>
                                <p class="mb-0">Basket</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item dropdown border-0">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'account_logout' %}">
                            <div class="text-center text-secondary">
                                <div><i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i></div>
                                <p class="mb-0">Logout</p>
                            </div>
                        </a>
                        {% else %}
                        <a href="#" id="auth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center text-secondary">
                                <div><i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i></div>
                                <p class="mb-0">Login/Register</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="auth">
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="row">
                <nav>
                    {% include 'extra_html/mobile_nav.html' %}
                </nav>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'extra_html/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'extra_html/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'extra_html/toasts/toast_success.html' %}
        {% else %}
        {% include 'extra_html/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <main>
    {% block page_nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-4">
                <ul class="list-unstyled">
                    <li class="site-link">
                        <a href="#">About Us</a>
                    </li>
                    <li class="site-link">
                        <a href="#">Contact Us</a>
                    </li>
                    <li class="site-link">
                        <a href="#">FAQ</a>
                    </li>
                    <li class="site-link">
                        <a href="#">Site Map</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-center external-link">
                <a href="#"><i class="fa-brands fa-etsy text-dark px-2"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f text-dark px-2"></i></a>
            </div>
            <div class="col-4">
                <ul class="list-unstyled text-right">
                    <li>
                        <p>
                            Sign up for our newsletter <a href="#">here.</a>
                        </p>
                    </li>
                    <li>
                        <p class="text-right copywrite">
                            <span>&copy;</span> {% now 'Y' %} Tripp's Treasures
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

</body>

</html>