{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
    {% include 'extra_html/main_nav.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <h4 class="title-font text-center">Contact Us</h4>
            <form action="{% url 'contact_us' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="input-group">
                    <button class="btn btn-sm border-info bg-blue shadow btn-blue mx-auto" type="submit">
                        <strong>Send</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}